* {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 90%;
    padding-left: 10%;
}

a:link {
    color: #0084b4 !important;
}

.sub {
    border: none;
    float: right;
    background-color: #F5851F;
    color: white;
    border-radius: 5px;
    transition: all 500ms ease;
}

.sub:hover {
    background-color: white;
    color: #F5851F;
}

.social {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
}

.mail {
    color: #210B0D;
}

.header input:focus {
    outline: none;
    border-bottom: none;
}

.header input {
    border: none;
    border-bottom: 2px solid #F5851F;
    font-size: small;
    height: 25px;
    width: 300px;
    font-weight: 400 !important;
    margin-right: 10px;
    transition: border-bottom 500ms ease;
}

.header label {
    display: flex;
    flex-direction: row;
    font-weight: 400 !important;
}

.header span {
    margin-right: 10px;
    width: 91.06px;
    font-weight: 400 !important;
}

.info p {
    margin: 15px 0 10px;
    font-weight: 700;
    font-size: 20;
}

body {
    background-color: #F5851F;
}

.col-md-3,
.col-md-2,
.col-md-6 {
    padding-top: 10px;
    background-color: white;
    border-radius: 5px;
    color: #210B0D;
    height: 100px;
    margin: 10px 0px 10 10;
}

.info {
    height: 350px;
    width: 220px;
    padding-top: 20px;
}

.header {
    width: 450px;
    font-weight: 500;
}

.col-md-2 {
    width: 220px;
}

.proj {
    height: 230px;
}

.proj h4 {
    font-size: 25px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.proj span {
    font-size: 12px;
}

.proj p {
    margin-bottom: 0px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.proj .social {
    text-align: center !important;
    display: flex;
    flex-direction: row;
}

.proj .social li {
    margin-right: 10px;
}

.javascript span {
    color: #F1E05A !important;
}

.javascript:hover {
    box-shadow: 0px 0px 5px 0px #F1E05A;
}

.java span {
    color: #B07219;
}

.java:hover {
    box-shadow: 0px 0px 5px 0px #B07219;
}

.python span {
    color: #3572A5;
}

.python:hover {
    box-shadow: 0px 0px 5px 0px #3572A5;
}

.csharp span {
    color: #178600;
}

.csharp:hover {
    box-shadow: 0px 0px 5px 0px #178600;
}

.cpp span {
    color: #F34B7D;
}

.cpp:hover {
    box-shadow: 0px 0px 5px 0px #F34B7D;
}

@media screen and (max-width:320px) {
    .sub {
        margin-bottom: -5 !important;
    }
    .header label {
        margin-bottom: -5;
    }
}