* {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 90%;
    padding-left: 10%;
}

a:link {
    color: #0084b4 !important;
}

.sub {
    border: none;
    float: right;
    background-color: #F5851F;
    color: white;
    border-radius: 2px;
    transition: all 500ms ease;
}

.sub:hover {
    background-color: white;
    color: #F5851F;
}

.social {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
}

.thanks {
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
}

.mail {
    color: #210B0D;
}

.header input:focus {
    outline: none;
    border-bottom: none;
}

.header input {
    border: none;
    border-bottom: 2px solid #F5851F;
    font-size: small;
    height: 25px;
    width: 300px;
    font-weight: 400 !important;
    margin-right: 10px;
    transition: border-bottom 500ms ease;
}

.header label {
    display: flex;
    flex-direction: row;
    font-weight: 400 !important;
}

.header span {
    margin-right: 10px;
    width: 91.06px;
    font-weight: 400 !important;
}

.info p {
    margin: 15px 0 10px;
    font-weight: 700;
    font-size: 20;
}

body {
    /*background-color: #1a1a1a;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/bg.png');

}

.col-md-3,
.col-md-2,
.col-md-6 {
    padding-top: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
    color: #210B0D;
    height: 100px;
    margin: 25px 0px 10 10;
}

.info {
    height: 365px;
    width: 220px;
    padding-top: 20px;
}

.header {
    width: 450px;
    font-weight: 500;
}

.col-md-2 {
    width: 220px;
    
}

.proj {
    height: 230px;
}

.proj h4 {
    font-size: 1em;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20px;
    line-height: unset;
    margin-top: 25px;
    font-weight: 600;
}

.profi{
    width:25%;
    border-radius:50%;
    object-fit:cover;
    object-position: center top;
    transform: translateY(-70%);
    position: absolute;
    right: 40%;
    box-shadow: 8px 5px 20px 0px rgba(46,61,73,0.15);
}

.proj span {
    font-size: 12px;
}

.proj p {
    margin-bottom: 0px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
}

.proj .social {
    text-align: center !important;
    display: flex;
    flex-direction: row;
}

.proj .social li {
    margin-right: 10px;
}

.javascript span {
    color: #F1E05A !important;
}

.javascript {
    border-top: 5px solid #F1E05A;
}

.php span {
    color: #4F5D95 !important;
}

.php {
    border-top: 5px solid #4F5D95;
}


.java span {
    color: #B07219;
}

.java {
    border-top: 5px solid #B07219;
}

.python span {
    color: #3572A5;
}

.python{
    border-top: 5px solid #3572A5;
}

.html span {
    color: #E34C26;
}

.html {
    border-top: 5px solid #E34C26;
}

.matlab span {
    color: #E16737;
}

.matlab {
    border-top: 5px solid #E16737;
}

.csharp span {
    color: #178600;
}

.csharp {
    border-top: 5px solid #178600;
}

.cpp span {
    color: #F34B7D;
}

.cpp{
    border-top: 5px solid #F34B7D;
}

@media screen and (max-width:320px) {
    .sub {
        margin-bottom: -5 !important;
    }
    .header label {
        margin-bottom: -5;
    }
}